* {
  box-sizing: border-box;
}

body {
  font-family: "SF UI Text", sans-serif;
  color: #001600;
}

span,
a,
sup,
sub {
  display: inline-block;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #001600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "SF UI Text", sans-serif;
  color: #3b3c4a;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.custom-container {
  max-width: 1320px;
  padding-inline: 12px;
  margin-inline: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.interactive-map-wrapper {
  padding-bottom: 170px;
}
@media (max-width: 991px) {
  .interactive-map-wrapper {
    padding-bottom: 0;
    overflow-x: hidden;
  }
}

.map-img-wrapper {
  position: relative;
  height: 953px;
  margin-top: -19%;
  transform: translateX(33%) scale(0.6);
}
@media (max-width: 991px) {
  .map-img-wrapper {
    transform: translateX(20%) scale(0.4);
    margin-top: -33%;
  }
}
@media (max-width: 600px) {
  .map-img-wrapper {
    transform: translateX(26%) scale(0.35);
    margin-top: -60%;
  }
}
@media (max-width: 410px) {
  .map-img-wrapper {
    transform: translateX(27%) scale(0.33);
    margin-top: -60%;
  }
}
@media (max-width: 390px) {
  .map-img-wrapper {
    transform: translateX(26%) scale(0.33);
    margin-top: -70%;
  }
}
.map-img-wrapper button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
.map-img-wrapper .single-img2 {
  position: absolute;
  left: -20.8%;
  bottom: 161px;
}
@media (max-width: 575px) {
  .map-img-wrapper .single-img2 {
    left: -38.8%;
  }
}
@media (max-width: 400px) {
  .map-img-wrapper .single-img2 {
    left: -41.8%;
  }
}
.map-img-wrapper .single-img3 {
  position: absolute;
  left: -39.3%;
  bottom: 3%;
}
@media (max-width: 575px) {
  .map-img-wrapper .single-img3 {
    left: -73.3%;
  }
}
@media (max-width: 400px) {
  .map-img-wrapper .single-img3 {
    left: -79.3%;
  }
}
.map-img-wrapper .single-img4 {
  position: absolute;
  left: -67%;
  bottom: -0.6%;
}
@media (max-width: 575px) {
  .map-img-wrapper .single-img4 {
    left: -125%;
  }
}
@media (max-width: 400px) {
  .map-img-wrapper .single-img4 {
    left: -136%;
  }
}
.map-img-wrapper .single-img5 {
  position: absolute;
  left: -63%;
  bottom: -12%;
}
@media (max-width: 575px) {
  .map-img-wrapper .single-img5 {
    left: -117%;
  }
}
@media (max-width: 400px) {
  .map-img-wrapper .single-img5 {
    left: -128%;
  }
}
.map-img-wrapper .single-img6 {
  position: absolute;
  left: -56%;
  bottom: -36.1%;
}
@media (max-width: 575px) {
  .map-img-wrapper .single-img6 {
    left: -104%;
  }
}
@media (max-width: 400px) {
  .map-img-wrapper .single-img6 {
    left: -113%;
  }
}
.map-img-wrapper .single-img7 {
  position: absolute;
  bottom: -55.9%;
  left: -16.5%;
}
@media (max-width: 575px) {
  .map-img-wrapper .single-img7 {
    left: -31%;
  }
}
@media (max-width: 405px) {
  .map-img-wrapper .single-img7 {
    left: -35%;
  }
}
@media (max-width: 399px) {
  .map-img-wrapper .single-img7 {
    left: -33%;
  }
}
.map-img-wrapper .single-img8 {
  position: absolute;
  left: -86%;
  bottom: -25.3%;
}
@media (max-width: 575px) {
  .map-img-wrapper .single-img8 {
    left: -160%;
  }
}
@media (max-width: 400px) {
  .map-img-wrapper .single-img8 {
    left: -175%;
  }
}
.map-img-wrapper .single-img9 {
  position: absolute;
  left: -71%;
  bottom: -34%;
}
@media (max-width: 575px) {
  .map-img-wrapper .single-img9 {
    left: -132%;
  }
}
@media (max-width: 400px) {
  .map-img-wrapper .single-img9 {
    left: -144%;
  }
}
.map-img-wrapper .single-img10 {
  position: absolute;
  left: -63.2%;
  bottom: -49.3%;
}
@media (max-width: 575px) {
  .map-img-wrapper .single-img10 {
    left: -117.2%;
  }
}
@media (max-width: 400px) {
  .map-img-wrapper .single-img10 {
    left: -128.2%;
  }
}

.map-content {
  padding-top: 50px;
}
@media (max-width: 991px) {
  .map-content {
    padding-top: 0;
  }
}
@media (max-width: 575px) {
  .map-content {
    margin-top: -70px;
  }
}
.map-content__title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}
.map-content .map-content-info:not(:last-child) {
  margin-bottom: 25px;
}
.map-content .map-content-info li {
  font-size: 16px;
}
.map-content .map-content-info li h5 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 2px;
}
.map-content .map-content-info li a {
  text-decoration: underline;
  color: #007bfc;
  line-height: 1;
  display: inline-block;
}

.map-content {
  width: 650px;
  margin-left: -130px;
}
@media (max-width: 991px) {
  .map-content {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
  }
}

.card-item {
  border: 5px solid #007bfc;
  border-left-width: 10px;
  border-right-width: 10px;
  border-radius: 15px;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0px 10px 15px rgba(0, 22, 0, 0.5411764706);
  margin-bottom: 15px;
}
.card-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-inline: 5px;
  padding-top: 2px;
}
.card-item__header h5 {
  color: #888;
  font-size: 17px;
}
.card-item__header button {
  background-color: transparent;
  padding: 0 5px;
  margin: 0;
  border: none;
}
.card-item__header img {
  width: 22px;
}
.card-item__content {
  display: flex;
  align-items: center;
  gap: 8px;
}
.card-item__content .thumb {
  width: 70px;
  height: 70px;
}
.card-item__content .thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.card-item__content .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 3px;
}
.card-item__content .content p {
  font-size: 15px;
  color: #888;
  line-height: 1.2;
}

.map-table {
  margin-top: 30px;
  margin-bottom: 70px;
}
@media (max-width: 575px) {
  .map-table {
    font-size: 14px;
  }
}
.map-table th {
  background-color: #70ad46;
  color: #fff;
  padding: 12px 20px;
  line-height: 1.1;
}
.map-table tbody tr:nth-of-type(odd) {
  background-color: #c5e0b3;
}
.map-table tbody tr:nth-of-type(even) {
  background-color: #e2f0d9;
}
.map-table tbody tr td {
  font-weight: 500;
  padding-inline: 20px;
}
.map-table tbody tr td:first-child {
  color: #084b92;
  background-color: #70ad46;
}
.map-table tbody tr td:nth-child(2) {
  padding-left: 20px;
}
.map-table tbody tr td:last-child {
  text-align: center;
}

.mouseOverData {
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #fff;
  position: absolute;
  border: 4px solid #ddd;
  pointer-events: none;
  min-width: 320px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
@media (max-width: 575px) {
  .mouseOverData {
    min-width: 300px;
  }
}
.mouseOverData ul {
  font-size: 14px;
}
@media (max-width: 575px) {
  .mouseOverData ul {
    font-size: 13px;
  }
}
.mouseOverData ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 0;
  gap: 15px;
}
.mouseOverData ul li span {
  display: block;
}
.mouseOverData ul li span:nth-child(2) {
  text-align: left;
  color: #007bfc;
  font-weight: 600;
}

.realtime-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 330px;
  margin-left: auto;
}