// Base Css Start
* {
    box-sizing: border-box;
}
body {
    font-family: "SF UI Text", sans-serif;
    color: #001600;
}
span,
a,
sup,
sub {
    display: inline-block;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
    color: #001600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "SF UI Text", sans-serif;
    color: #3b3c4a;
}
.d-flex {
    display: flex;
}
.align-items-center {
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.justify-content-between {
    justify-content: space-between;
}
.d-none {
    display: none;
}
.d-block {
    display: block;
}
.custom-container {
    max-width: 1320px;
    padding-inline: 12px;
    margin-inline: auto;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
// Base Css End

// map css style start
.interactive-map-wrapper {
    padding-bottom: 170px;
    @media (max-width: 991px) {
        padding-bottom: 0;
    }
}
.map-img-wrapper {
    position: relative;
    height: 953px;
    margin-top: -19%;
    transform: translateX(33%) scale(0.6);
    @media (max-width: 991px) {
        transform: translateX(20%) scale(0.4);
        margin-top: -33%;
    }

    button {
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
    }
    .single-img2 {
        position: absolute;
        left: -20.8%;
        bottom: 161px;
    }
    .single-img3 {
        position: absolute;
        left: -39.3%;
        bottom: 3%;
    }
    .single-img4 {
        position: absolute;
        left: -67%;
        bottom: -0.6%;
    }
    .single-img5 {
        position: absolute;
        left: -63%;
        bottom: -12%;
    }
    .single-img6 {
        position: absolute;
        left: -56%;
        bottom: -36.1%;
    }
    .single-img7 {
        position: absolute;
        bottom: -55.9%;
        left: -16.5%;
    }
    .single-img8 {
        position: absolute;
        left: -86%;
        bottom: -25.3%;
    }
    .single-img9 {
        position: absolute;
        left: -71%;
        bottom: -34%;
    }
    .single-img10 {
        position: absolute;
        left: -63.2%;
        bottom: -49.3%;
    }
}
.map-content {
    padding-top: 50px;
    @media (max-width: 991px) {
        padding-top: 0;
    }
    &__title {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .map-content-info {
        &:not(:last-child) {
            margin-bottom: 25px;
        }
        li {
            font-size: 16px;
            h5 {
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 2px;
            }
            a {
                text-decoration: underline;
                color: #007bfc;
                line-height: 1;
                display: inline-block;
            }
        }
    }
}
.map-content {
    width: 650px;
    margin-left: -130px;
    @media (max-width: 991px) {
        margin-left: 0;
        width: 100%;
        max-width: 100%;
    }
}
.card-item {
    border: 5px solid #007bfc;
    border-left-width: 10px;
    border-right-width: 10px;
    border-radius: 15px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0px 10px 15px #0016008a;
    margin-bottom: 15px;
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        padding-inline: 5px;
        padding-top: 2px;
        h5 {
            color: #888;
            font-size: 17px;
        }
        button {
            background-color: transparent;
            padding: 0 5px;
            margin: 0;
            border: none;
        }
        img {
            width: 22px;
        }
    }
    &__content {
        display: flex;
        align-items: center;
        gap: 8px;
        .thumb {
            width: 70px;
            height: 70px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .content {
            h4 {
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 3px;
            }
            p {
                font-size: 15px;
                color: #888;
                line-height: 1.2;
            }
        }
    }
}

.map-table {
    margin-top: 30px;
    margin-bottom: 50px;
    th {
        background-color: #70ad46;
        color: #fff;
        padding-inline: 20px;
    }
    tbody {
        tr {
            &:nth-of-type(odd) {
                background-color: #c5e0b3;
            }
            &:nth-of-type(even) {
                background-color: #e2f0d9;
            }
            td {
                font-weight: 500;
                padding-inline: 20px;
                &:first-child {
                    color: #084b92;
                    background-color: #70ad46;
                }
                &:nth-child(2) {
                    padding-left: 20px;
                }
                &:last-child {
                    text-align: center;
                }
            }
        }
    }
}
.mouseOverData {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #fff;
    position: absolute;
    border: 4px solid #ddd;
    pointer-events: none;
    min-width: 320px;
    display: none;
    ul {
        font-size: 14px;
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2px 0;
            gap: 15px;
            span {
                display: block;

                &:nth-child(2) {
                    text-align: left;
                    color: #007bfc;
                    font-weight: 600;

                }
            }
        }
    }
}
// map css style end
